.collapsible {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #FFFFFF;
}

.collapsible_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: inherit;
}
