.navbar {
    width: 100%;
    background-color: inherit;
    overflow: auto;
}

.navbar a {
    float: right;
    padding: 12px;
    color: #000000;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #CCCCCC;
}

.active {
    background-color: #555555;
}

.navbar h1.split {
    float: left;
    text-align: center;
    background-color: #DADADA;
    color: black;
}

.navbar .logo_img {
    width: 15%;
}

@media screen and (max-width: 900px) {
    .navbar h1.split {
        float: none;
    }

    .navbar a {
        float: none;
        display: block;
    }

    .navbar .logo_img {
        float: none;
    }
}
