/* Main */
* {
    box-sizing: border-box;
}

body, html {
    height: 80%;
}

.header {
    padding: 1vh 0;
    text-align: center;
    background: #4B0082;
    color: white;
    font-family: Tahoma, sans-serif;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 6vh;
    padding: 0;
}

h2 {
    font-size: 3vh;
}

.content {
    margin: 35px;
}

.centered_content {
    text-align: center;
    padding: 20px;
}

body {
    margin: 0;
    font-family: Tahoma, serif;
    font-weight: normal;
    font-style: normal;
}

.the_footer {
    padding: 10px;
    text-align: center;
    background:	#4B0082;
    color: white;
    font-size: 2vh;
    font-family: Tahoma, serif;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
}

.the_footer:after {
    clear: bottom;
}

.the_footer a:link {
    color: white;
}

.the_footer a:visited {
    color: lightblue;
}

a:link {
    color: #0000FF;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

/* Columns */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

@media screen and (max-width: 900px){
    .column {
        float: left;
        width: 100%;
        padding: 10px;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.hero-image {
    animation: animatetop 1s;
    height: 50%;
    background-position: 10% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@keyframes
animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
