td {
    text-align: left;
}

.column {
    float: left;
    padding-bottom: 10px;
}

.col_left {
    width: 40%;
}

.col_right {
    width: 60%;
}

@media screen and (max-width: 900px){
    .column {
        float: left;
        width: 100%;
    }
}
